.red{
  background: red;
  font-weight : bold;
  color: #fff;
}

.blue{
  background: blue;
  font-size: 1.5rem;
  color: #fff;
}

.red-if{
  background: red;
  font-weight : bold;
  color: #fff;
}

.blue-if{
  background: blue;
  font-weight : normal;
  color: #fff;
}
