<h3>Angular Pipes!</h3>

<p>{{ e | number: '1.1-5' }}</p>
<p>{{ e | number: '3.1-2' }}</p>
<p>{{ e | number: '1.0-0' }}</p>
<p>{{ str }}</p>
<p>{{ str | uppercase }}</p>
<p>{{ str | lowercase}}</p>
<p>{{ str | titlecase}}</p>
<p>{{ str | slice: 1:-2 }}</p>
<p>{{ date }}</p>
<p>{{ date | date }}</p>
<p>{{ date | date:'fullDate' }}</p>
<p>{{ date | date:'long' }}</p>
<p>{{ date | date:'dd MMM yyyy, HH:mm' }}</p>

<p>{{ float }}</p>
<p>{{ float | currency }}</p>
<p>{{ float | percent: '3.1-2'}}</p>
<pre>{{ obj | json }}</pre>
<p>{{ obj | json }}</p>


<p>{{ 10 | mult }}<strong> <= pipe mult</strong></p>
<p>{{ 10 | mult:2 }}<strong> <= pipe mult</strong></p>
<p>{{ 10 | mult: 3 }}<strong> <= pipe mult</strong></p>
<p>{{ 10 | mult:5 }}<strong> <= pipe mult</strong></p>
<p>{{ 10 | mult:8 }}<strong> <= pipe mult</strong></p>
<p>{{ 10 | mult:13 }}<strong> <= pipe mult</strong></p>

<p>{{ 'Hello World     ' | exMarks }}</p>


<hr>

<button class="btn" (click)="searchField = 'title'">Title</button>
<button class="btn" (click)="searchField = 'text'">Text</button>

<button class="btn" (click)="addPost()">Добавить новый пост</button>
<!-- /.button --> <hr>
<input type="text" [(ngModel)]="search">

<div
  *ngFor="let post of posts | filter:search:searchField"
  class="card"
>
  <h2>{{ post.title }}</h2>
   <p>{{ post.text }}</p>
</div>
<!-- /.card -->


<hr>
