<h3>Hello Angular World!</h3>
 <app-rx-techno></app-rx-techno>
<!--<app-async-pipe></app-async-pipe>-->

<!--<app-pipes></app-pipes>-->

<!--<h3>Angular Directives</h3>-->
<!--<p class="dir"-->
<!--   appStyle="yellow"-->
<!--   fontWeight="bold"-->
<!--   [dStyles]="{-->
<!--     border: '1px solid blue',-->
<!--     borderRadius: '5px'-->
<!--   }"-->
<!--&gt;Lorem ipsum dolor sit amet,-->
<!-- consectetur-->
<!-- adipisicing-->
<!-- elit.-->
<!-- Quidem,-->
<!-- voluptate!</p>-->
<!--<p class="dir"-->
<!--   appStyle="light-green"-->
<!--   fontWeight="bold"-->
<!--   [dStyles]="{-->
<!--     border: '1px dotted green',-->
<!--     borderRadius: '15px'-->
<!--   }"-->
<!--&gt;Lorem ipsum dolor sit amet,-->
<!-- consectetur-->
<!-- adipisicing-->
<!-- elit.-->
<!-- Quidem,-->
<!-- voluptate!</p>-->

<!--  <button class="btn" (click)="isVisible = !isVisible">Toggle</button>-->

<!--<div *ngIf="isVisible" class="wrap">-->
<!--  <p>-->
<!--     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque dolorem doloremque eum eveniet libero magnam repellendus similique, suscipit ullam.-->
<!--  </p>-->
<!--</div>-->
<!--<ng-template [ngIf]="isVisible" class="wrap">-->
<!--  <p>-->
<!--     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque dolorem doloremque eum eveniet libero magnam repellendus similique, suscipit ullam.-->
<!--  </p>-->
<!--</ng-template>-->
<!--&lt;!&ndash; /.wrap &ndash;&gt;-->

<!--<div *appIfnot="!isVisible" class="wrap">-->
<!--  <p>-->
<!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque dolorem doloremque eum eveniet libero magnam repellendus similique, suscipit ullam.-->
<!--  </p>-->
<!--</div>-->


<!--<hr>-->
<!--<h2>SubHeader</h2>-->
<!--<app-post-form-->
<!--  (onAdd)="updatePosts($event)"-->
<!--&gt;</app-post-form>-->
<!--<hr/>-->
<!--<app-post-view-->
<!--  *ngFor="let p of posts"-->
<!--  [post]="p"-->
<!--  (onRemove)="removePost($event)"-->
<!--&gt;-->
<!--  <div #info>-->
<!--    <small *ngIf="p.text.length > 10; else short">Пост длинный</small>-->
<!--    <ng-template #short>-->
<!--      <small>Пост короткий</small>-->
<!--    </ng-template>-->
<!--  </div>-->
<!--  &lt;!&ndash; /#info &ndash;&gt;-->
<!--</app-post-view>-->
<!--<hr/>-->


<!--<p>{{ title }}</p>-->
<!--<p><strong>{{ number - 2 }}</strong></p>-->
<!--<p>{{ arr }}</p>-->
<!--<hr>-->
<!--<strong>{{ obj.a }}</strong>-->
<!--<br>-->
<!--<strong>{{ obj.b.c }}</strong>-->
<!--<hr>-->
<!--<img class="img" [src]="img" alt="">-->
<!--<hr>-->
<!--<input-->
<!--  type="text"-->
<!--  (keyup.enter)="onInput($event)"-->
<!--  (blur)="onBlur(myInput.value)"-->
<!--  #myInput-->
<!--&gt;-->
<!--<p><strong>{{ inputValue }}</strong></p>-->
<!--<hr>-->
<!--<button (click)="onClick()">Click me</button>-->
<!--<hr>-->
<!--<app-post></app-post>-->

<!--<hr>-->
<!--<app-post2></app-post2>-->
<!--<app-post3></app-post3>-->
<!--<app-post4></app-post4>-->
<!--<app-post5></app-post5>-->
<!--<app-post6></app-post6>-->
